{% extends 'admin/dashboard.html' %}
{% load static %}

{% block active %}{%endblock%}
{% block complaint %}active{%endblock%}

{% block content %}
<br>
<h4>Business Queries..</h4>
   <div class="container mt-2">
    {% for i in data %}
    <div class="card my-3">
        <div class="card-header">
          {{i.Company_Name}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{i.Website_Address}}</h5>
          <p class="card-text">{{i.Email_Address}}</p>
          <a href="{% url 'businessFormView' i.id %}" class="btn btn-primary">Open</a>
        </div>
      </div>
      {% endfor %}
   </div>
   
{% endblock %}